.kecurangan-table {
    table-layout: fixed !important;
    width: 100%;
}

.kecurangan-table thead th {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: unset !important;
    vertical-align: middle;
}
.kecurangan-table tbody td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ===============================
   FIX MODAL HP (gelap + tidak bisa klik)
=============================== */
.modal-backdrop {
    z-index: 1060 !important;
    pointer-events: none !important;
}
.panel-header-sps {
    background: transparent !important;
    box-shadow: none !important;
}

.content {
    background: transparent !important;
}

button#modalPrev.btn,
button#modalNext.btn {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}